<%= form_for(@investment) do |f| %>
  <% if @investment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investment.errors.count, "error") %> prohibited this investment from being saved:</h2>

      <ul>
      <% @investment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :square_feets %><br>
    <%= f.text_field :sq_feet %>
  </div>
  <div class="field">
    <%= f.label :cost_to_buy_property %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :sale_value_of_property %><br>
    <%= f.text_field :sale_val %>
  </div>
  <div class="actions">
    <%= f.submit "Calculate" %>
  </div>
<% end %>
